.mainWrapper{
  align-items: center;
  width: 100%;
  position: relative;
  box-sizing: border-box;
}

.toolBar{
  position: fixed;
}

.toolBar, footer{
  height: 100px;
  width: 100%;
  align-items: center;
  background-color: lightskyblue;
}

.toolBar img{
  flex: 1;
}

nav{
  flex: 2;
  align-items: stretch;
  justify-content: space-evenly;
}

main{
  margin-top: 100px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

header{
  width: 100%;
  background: #fafafa;
}

section, form{
  width: 60%;
}

section > img {
  height: 200px;
}

.bannerImg {
  width: 100%;
}

.jobCardSmall{
  cursor: pointer;
  width: 100%;
  height: 100px;
  padding: 10px;
  margin: 5px;
  border: solid 1px black;
  transition: 0.2s;
}

.jobCardSmall:hover{
  box-shadow: -4px 0 0 0 green;
}

.jobCardSmall img{
  height: 100%;
}

form *{
  margin-top: 10px;
  font-weight: 500;
  font-size: 18px;
  padding: 5px;
}

.socialLinks{
  width: 100%;
  justify-content: flex-end;
}

.btn{
  margin: 10px 0;
  width: 150px;
  background-color: lightskyblue;
  border: solid 2px black;
  cursor: pointer;
  color: white;
  font-size: 20px;
  padding: 5px;
  transition: 0.5s;
  border-radius: 5px;
}

.btn:hover{
  color: black;
  border: solid 2px lightskyblue;
  background: white;
}


.d-flex{
  display: flex;
}
.flex-column{
  flex-direction: column;
}
.justify-center{
  justify-content: center;
}

.space-btw{
  justify-content: space-between;
}

.m-5{
  margin: 5px;
}

@media (max-width: 768px) {

  form{
    width: 100%;
    padding: 0 10px;
  }
  form input,select,textarea{
    width: 90%;
  }

}
